*{
    margin: 0;
  padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
}
#home img{
    height:90px;
}

/* ---------------Nav-bar--------------- */
nav{
    display: flex;
    width: 100%;
    padding: 5px;
    height: 80px;
   justify-content: space-between;
    z-index: 2;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
}
#pagination{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width:10%;
    justify-content: space-between;
    margin-left: 800px;
}
.page-button{
    color: white;
    border: none;
    background-color:#EFAB45;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.page-button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #004AAD;
}
@media only screen and (max-width:1000px){
    nav{
        width:100%;
    }
    #home{
        display: none;
    }
}
nav>div:nth-child(1){
    width: 30%;
    display: flex;
    /* border: 1px red solid; */
}
nav>div:nth-child(1)>img{
    width: 20%;
    
}
nav>div:nth-child(1)>h2{
    /* border: 1px red solid; */
    font-size: 20px;
    padding-top: 25px;
    margin-left: 15px;
    color: #004AAD;
}
nav>div:nth-child(1)>h2>span{
    color: #EFAB45;
}
#content{
    list-style-type: none 
}
.nav__link>a{
    text-decoration: none;
    /* border: 1px red solid; */
    color: #000;
    
}
.nav__link.active{
    /* border: 1px red solid; */
      color: #005cd5;
}
/* -----------slider-starts---------------- */
/* .Resource_subcontent{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
}
.Resource_subcontent>a{
    text-decoration: none;
    color: black;
} */
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* -----------slider-ends---------------- */
#content{
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: end;
    padding-right: 50px;
}
#content>button{
    border: 1px solid black;
    padding: 12px;
    border-radius: 20px;
    color: #004AAD;
    background-color: white;
    width: 80px;
    font-size: 15px;
}
#btn_2>button{
    border: none;
    padding: 13px;
    border-radius: 20px;
    color: white;
    background-color: #3d7ad0;
    width: 150px;
    font-size: 15px;
}
#content>a{
    text-decoration: none;
}
#content>a{
    color: black;
}
#log{
    text-decoration: none;
    color:blue;
}
#parent{
    width:90%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    gap:20px
}
#photo{
    width:40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}
#main{
    width:60%;
    padding: 10px;
}
#main div{
    display: flex;
    gap:10px;
    margin-top: 10px;
    justify-content: space-between;
}
#main-head{
    color:#005cd5;
    text-decoration: underline;
}
#main h3{
    color:lightseagreen;
}
#main input{
    background-color: #f6f0f0;
    border: none;
    margin-top: 2px;
    padding: 4px;
}
#photo img{
    width:100%;
    height: 300px;
}
#photo h2{
    color:red;
}
#photo h3{
    color:#004AAD;
    text-decoration: underline;
    margin-bottom: 10px;
}
#photo p{
    color:#9E9E9E;
    font-weight: 700;
}
#btn{
    color:white;
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
    border: none;
    background-color: red;
    width:90%;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 35px;
}
#btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#para{
    margin-top: 10px;
    text-align: center;
    color:brown;
    font-weight: 600;
}
#hidden{
    text-align: center;
    color: red;
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
}
@media only screen and (max-width:800px){
    #btn{
        width:50%;
        margin: auto;
    }
    #photo img{
        width:50%;
        height:100px;
    }
}